%h3
  Getting Hacked Less Often: Examples to Avoid by <a href="https://twitter.com/#!/mak_kolybabi">Mak Kolybabi</a>

%p
  While I can't speak to the topic of secure web applications, my day job requires me to research and exploit vulnerabilities in insecure web applications. I'll talk about CVSS2, OWASP, and real-world vulnerabilities that could have been avoided.

%p
  Mak Kolybabi is a Nessus developer, an Nmap contributor, a Founder of SkullSpace, an Awesome Foundation Trustee, an IRC Addict, a Troublemaker, and a Loudmouth.