%h3
  Coffee in my Script by <a href="https://github.com/burke">Burke Libbey</a>

%p
  With its recent inclusion into <a href="https://github.com/rails/rails/commit/9f09aeb8273177fc2d09ebdafcc76ee8eb56fe33#commitcomment-344069">Rails 3.1<a/>, <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a> is now more compelling than ever. This talk will go over CoffeeScript's syntax as it differs from JavaScript, and how to use in and outside of Rails 3.0.

%h3
  1.9 in my Ruby by <a href="https://github.com/ssoroka">Steven Soroka</a>

%p
  Ruby 1.9 is the new standard ruby. There are not going to be anymore Ruby 1.8.x versions, and the next major Rails version will require Ruby 1.9. Come and learn how Ruby is getting even better!

%p
  %strong <a href="http://pow.cx/">POW</a>
  by <a href="https://github.com/nathanbertram">Nathan Bertram</a> - A lightning talk about POW a zero-configuration server to run Rails & Rack apps like a champion on OSX.
