%h3
  Tweaking Performance by <a href="https://github.com/ssoroka">Steven Soroka</a> &amp; <a href="https://github.com/burke">Burke Libbey</a>
%p
  So you've written a Rails application, but it's slooooooww. We're going to talk about a lot of common performance pitfalls and simple solutions to them, as well as introducing you to useful tools such as rubyprof, memprof, NewRelic RPM, and others. You'll have your Rails scaling in no time!
