%h3
  Make Ruby Yours by <a href="http://github.com/skipants">Andrew Szczepanski</a>
%p
  This presentation includes basic techniques for using Ruby effectively. It will show the usage and niceties of both the Ruby language and resources associated with it. Topics include effective learning, debugging, and refactoring of the Ruby code as well as cool one-liners made possible by built-in methods.

%h3
  Git-internals by <a href="http://burkelibbey.org/">Burke Libbey</a>
%p
  If you use <a href="http://git-scm.com/">git</a> on a regular basis, you won't want to miss this one. Burke will be talking about git from the ground up - from what makes up a commit right down to the per-byte level. He will talk about how new commits are constructed from previous ones; what actually happens in merging and rebasing; how branches and tags are implemented; how syncing with remotes works; and what most of the contents of the .git directory is made of.

%h3
  5 minute or less presentations:

%p
  <strong>Piet interpreter</strong> by <strong>Tim Herd</strong> - a brief talk about Tim's experience with Pietr a Piet interpreter, written in Ruby. <a href="http://www.dangermouse.net/esoteric/piet.html">Piet</a> is an example of an esoteric programming language, a language intentionally designed to be obscure and impractical.
%p
  <strong>0 to live in 5 minutes with Heroku</strong> by <a href="http://github.com/stefanpenner">Stefan Penner</a>- a quick demo about how easy it is setup a basic Rack based application on Heroku for free.
