%h3
  Page Object Pattern in Ruby on Rails by <a href="https://github.com/amirci">Amir Barylko</a>

%p
  Cucumber is a great tool to write features and help drive the BDD
  development cycle.
  However implementing the steps can be cumbersome and sometimes hard to write.
%p
  Avoiding common "smells" and enforcing DRY and other good practices
  can be a challenge too!
  Abstraction is key and that is what the Page Object Pattern (POP) is about.
%p
  POP helps us to avoid repetition and focus on what the application
  does, not the markup to implement it.
%p
  Join me in a session where we explore the pattern, the benefits, and
  how to add it to our RoR applications with minimal effort and lots of
  gains!