%h3
  Crash Course in <a href="learnyousomeerlang.com">Erlang</a> Concurrency by <a href="https://github.com/erauqssidlroweht">Tim Herd</a>
%p
  More and more scenarios call for massively concurrent applications. While most languages have facilities for concurrency, often times you have to worry about the implementation details. Threads, Locks and Mutexes. This talk will introduce you to <a href="learnyousomeerlang.com">Erlang</a>, a language designed from the ground up to handle concurrency.