%h3
  Cross-Platform Mobile App Development with Ruby by <a href="https://github.com/marcjeanson">Marc Jeanson</a>
%p
  Do you want to build an iPhone application, but hate Objective-C? Do you hate Java, but want to create something for Android? How do you feel about redoing all your work again, just to deploy to another platform? If any of this bothers you you'll want to join Marc Jeanson for an introduction to <a href="http://rhomobile.com/products/rhodes/">Rhodes</a>, a Ruby framework to build native apps on all the major smartphone platforms.

%h3
  Crash Course in <a href="learnyousomeerlang.com">Erlang</a> Concurrency by <a href="https://github.com/erauqssidlroweht">Tim Herd</a>
%p
  More and more scenarios call for massively concurrent applications. While most languages have facilities for concurrency, often times you have to worry about the implementation details. Threads, Locks and Mutexes. This talk will introduce you to <a href="learnyousomeerlang.com">Erlang</a>, a language designed from the ground up to handle concurrency.