%h3
  July Event: ActiveMerchant 201 by <a href="http://burkelibbey.org/">Burke Libbey</a>
%p
  Payment processing is a crucial part of most web applications, but developers tend to be more afraid of it than necessary. Burke Libbey is going to show you how easy it can be to set up <a href="http://www.activemerchant.org/">ActiveMerchant</a> in Rails for credit card processing via one of ActiveMerchant's many supported gateways. Then, we'll cover how to interface with an unsupported payment gateway by writing a custom gateway driver. This talk will be 90% code. Come prepared, whatever that means to you.

%h3
  July Event: Clean up that application.js! A Rails 3 UJS Primer by <a href="http://github.com/stefanpenner">Stefan Penner</a>

%p
  Stefan is all to familiar with the potential unmaintainable spaghetti code disaster that many Rails developers call the public/ directory. This talk will briefly cover the evolution of JavaScript in the Rails environment, with a focus on the new <a href="http://guides.rails.info/3_0_release_notes.html">Rails 3</a> Un-obtrusive JavaScript drivers. Highlights will include, a Rails 3 UJS Primer, extending UJS, and using UJS without Rails 3 (O_o).