%h3
  Testing by <a href="https://github.com/amirci">Amir Barylko</a>


%p
  Test Driven Development is software development methodology based on "test first" approach.
  That means that before even writing a line of code we need to write a test for it. 
%p
  %strong Benefits of applying TDD include:
  %br
  %strong="- Increase development confidence"
  %br
  %strong="- Improve quality of the code and use quality as a driver"
  %br
  %strong="- Regression testing at any point"
  %br
  %strong="- Automatic documentation"
  %br
  %strong="- Bring back the joy of coding!"

%p
  Have you ever wondered how to start? Do you have questions? This is your chance!
  %br
  Join me on a session to discuss how to start with TDD, benefits of using it, drawbacks and why can be a life changing experience for you and your company. Your code will never be the same!

  %br
  %a.slides_link{:href => 'http://orthocoders.com/presentations/'} Presentation