%h3
  Phone based apps using <a href="http://www.tropo.com">Tropo</a> by <a href="http://www.twitter.com/hamcake">Robin Hillman</a>

%p
  Are you interested in creating an app that responds to voice commands or SMS? This talk will provide an introduction to the <a href="http://www.tropo.com">Tropo service</a> and its features, how to script a basic app in Ruby using their API, and how to integrate their services with your existing app.

%h3
  Hosting your Rails applications on <a href="http://www.engineyard.com/">Engine Yard</a> by <a href="http://twitter.com/mike_gauthier">Mike Gauthier</a>
%p
  You have a great website, but your user base is growing, and fast.  You know you will need to scale up at some point, but you don't want to pay for extra servers if you don't need them.  Oh, and what about storage?  Join Mike Gauthier for his presentation on the basics about <a href="http://www.engineyard.com/">EngineYard's AppCloud</a> and Amazon's S3 technologies. Expect real-world examples and demos showing you what it takes to get your website up and running in the EY Cloud.

%h3
  Lightning Talks:
%p
  <strong>Vim scripts for fun and profit by <a href="https://github.com/gmarik">Marjan Hratson</a></strong> - A brief talk about <a href="http://www.vim.org/">Vim</a>, Vim script managers, <a href="https://github.com/vim-scripts/pathogen.vim">Pathogen</a>, <a href="http://vim-scripts.org">vim-scripts.org</a> & <a href="https://github.com/gmarik/vundle">Vundle</a>
  %br
  %br
  <strong>Amazon SES by <a href="https://github.com/nathanbertram">Nathan Bertram</a></strong> - A brief talk about what <a href="http://aws.amazon.com/ses/">Amazon Simple Email Service</a> is and using the <a href="https://github.com/drewblas/aws-ses">AWS-SES gem</a> with your existing Rails applications. 
