%h3
  <a href="http://www.scala-lang.org/">A look at the Scala Language</a> by <a href="http://www.twitter.com/craiger">Craig Tataryn</a>

%p
  Craig Tataryn is owner of <a href="http://www.grindsoftware.com/">Grind Software Inc.</a> and editor of the <a href="http://basementcoders.com/">Basement Coders Podcast</a>.  He'll take you through the fundamentals of the Scala language.  Questions posed and answered will range from "Why bother with Scala?", "What language features does it provide", "How does it integrate with existing enterprise (read: Java) systems"?


%h3
  <a href="https://github.com/jnicklas/capybara">Capybara</a> by <a href="https://github.com/amirci">Amir Barylko</a>
%p
  Capybara is a gem that works as a complement of cucumber and aims to simplify writing acceptance tests for any web application. Out of the box provides a DSL that makes writing steps for common functionality like following links, clicking buttons, etc.
  It provides different drivers that can be configured and even chose per feature or scenario basis to indicate how we want to run that case. It has built-in support <a href="https://github.com/brynary/rack-test">rack-test</a>, <a href="https://github.com/langalex/culerity">Culerity</a>, <a href="https://github.com/jarib/celerity">Celerity</a> and <a href="http://seleniumhq.org/">Selenium</a>. Join me to see how easy is to setup capybara and how we can start using it in minutes.

%p
  November Event: <strong><a href="http://documentcloud.github.com/jammit/">Jammit</a> - Industrial strength packaging library for Rails by <a href="http://twitter.com/__hudson__">Hudson Gevaert</a></strong> - a quick presentation about combining css & js assets, why you should bother and Hudson's experience using Jammit for his production Rails applications.
