%h3
  <a href="http://en.wikipedia.org/wiki/WebSockets">Websockets</a>, <a href="http://nodejs.org/">Node.js</a>, and <a href="http://socket.io/">Socket.io</a> by <a href="http://github.com/ssoroka">Steven Soroka</a>

%p
  Still polling for updates from javascript? The future of the web is asynchronous socket connections with instant push updates. Come learn about Node.js and other technologies making this possible, and find out how to start using HTML5 WebSockets in your web apps right away, across all browsers.

%h3
  Metaprogramming with Ruby by <a href="http://github.com/burke">Burke Libbey</a>

%p
  Ever wonder just how "magic" Rails declarations such as "has_many" and "belongs_to" work? Ever wanted to write code that worked the same way? After this talk you will have a much better idea of how these techniques work! Burke is going to talk about the Ruby object model in-depth, including classes, modules, inheritance, singleton classes, and anonymous classes. Then he will cover creating dynamic methods with method_missing and respond_to?, inheritance hooks and some other goodies.

