%h3
  Understanding Git by <a href="http://github.com/thetamind">Matthew Boehlig</a>

%p
  Does <a href="http://git-scm.com/">git</a> control you? Using the basic set of commands you learned from a tutorial without really understanding what they are doing? Using git effectively requires the understanding of how to navigate the commit tree and manipulate branch pointers. Don't worry, it's not that scary. Matthew will shine a light on git's <a href="http://en.wikipedia.org/wiki/Directed_acyclic_graph">DAG</a> and show you how to practically use git in every day situations. No longer guess at which command to use, but really understand what's going on under the hood. 

%h3
  Ruby from the Ground Up by <a href="http://github.com/nathanbertram">Nathan Bertram</a>

%p
  Wondering what this <a href="http://www.ruby-lang.org/en/">Ruby programming language</a> is all about? How can Ruby == programmer happiness? Nathan will focus this talk on the basics ending with more advanced features of the language. He will show some comparisons with other common languages, show you why many programmers love Ruby and where the popular framework <a href="http://rubyonrails.org/">Ruby on Rails</a> fits in. You will learn more about the online Ruby community, resources and where to find current news about Ruby and ROR. If you are starting out with Ruby or never considered the Ruby programming language before this talk is for you.
