%h3
  Testing Rails Applications by <a href="https://github.com/marcjeanson">Marc Jeanson</a>

%p
  Ruby on Rails has fantastic support for Test Driven Development, but getting started can sometimes be overwhelming. This talk will cover:

  %ul
    %li - An introduction to BDD/TDD in a Rails context.
    %li - Popular testing gems and the testing stack that I like to use.
    %li - Testing "legacy" rails applications that do not have any tests (or poorly written ones).
    %li - Ways to speed up your tests.
    %li - Contineous Integration and why you should care about it.

%p
  Whether you are new to TDD with Rails or a seasoned vet, come join in the discussion so we can all improve the quality of our applications.