%h3
  What's new in Rails 3.1 by <a href="http://www.github.com/nathanbertram">Nathan Bertram</a>
  
%p
  The rails core team has been busy making rails even better - this talk will be all about the improvements that Rails 3.1.x brings and a couple tips of how to upgrade your existing applications.
  %br
  %strong
    %a.slides_link{:href => 'http://www.scribd.com/doc/70608257/The-Rails-3-1-Leap-2011'} View Slides
    

%p
  <strong>Lightning Talk:</strong> An intro to the <a href="http://clojure.org/">Clojure</a> programming language by <a href="https://github.com/amirci">Amir Barylko</a>
