#left_content
  %h2
    Monthly Event.
  
  %p
    Winnipeg.rb started out in February of 2010 as a weekly Hack Night. As much as we still enjoy our Hack nights consensus amongst us has been that we have enough interest in our city to run a monthly event for Ruby and related technologies. We are finally made it happen and hope that you can join us in contributing to its success! 
  %h2
    Hack Night.
  
  %p
    Sometimes it's just fun to hang out with other developers while knocking out & discussing code over caffeinated beverages & tasty cafe food. From time-to-time we enjoy challenging each other with a good game of <a href="http://codegolf.com/">code golf</a>. We tentatively meet every 2nd or 3rd Thursday of every month from 7-9pm @ the <a href="http://www.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=93+Albert+Street,+Winnipeg,+MB+R3B+1G5&ie=UTF8&hq=&hnear=93+Albert+St,+Winnipeg,+Division+No.+11,+Manitoba+R3B+1H2&ll=49.898671,-97.140255&spn=0.007491,0.022724&z=16">Fyxx on Albert Street</a> - <a href="http://twitter.com/winnipegrb">Watch Twitter</a> for when hack night comes together. 

#right_content
  %h2
    January Event.
  
  %p
    <strong>When?</strong> 5:45pm-8pm on Thursday, January 27th, 2010<br />
    <strong>Where?</strong> NRC Building, 445 Ellice Ave. - CCBT 111 (<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=445+Ellice+Ave+Winnipeg&sll=41.046217,-95.712891&sspn=35.762281,93.076172&ie=UTF8&hq=&hnear=445+Ellice+Ave,+Winnipeg,+Division+No.+11,+Manitoba+R3B+3P5,+Canada&z=16">map</a>)
  
  %p
    There shall be free pizza, drinks & wifi - guest parking is available right at the NRC building. Please <a href="http://www.meetup.com/winnipegrb/calendar/15977259/">don't forget to <strong>RSVP</strong></a> so that we can order the right amount & feel free to join us afterwards at the Lo Pub for beers!

  %h3
    Cross-platform GUI apps & Ruby by <a href="https://github.com/stungeye">Kyle Geske</a>
  %p
    Ever wish you could code cross-platform GUI apps in Ruby? <a href="http://shoesrb.com/">Shoes</a> is a toolkit for writing graphical applications easily and artfully using Ruby. Join Kyle Geske (<a href="http://stungeye.com/">stungeye</a>, <a href="http://codeglutton.tumblr.com/">codeglutton</a>) for an introductory look at this toolkit. The presentation will cover the basic concepts needed to create a simple GUI app. It will also include a peak at <a href="http://hackety-hack.com/">Hackety Hack</a>, a Shoes-based Ruby IDE for teaching children to program. 
    
  %h3
    Ruby DBMS Duct Tape by <a href="https://github.com/stefanpenner">Stefan Penner</a>
  %p
    Not every application is written using Ruby on Rails and its conventions. In some cases, you, as a Ruby developer must venture into the world and develop applications which must integrate with legacy, or non-standard DBMS's. This talk will cover using Ruby's fun, powerful, and optimized for programmer happiness environment, to bring great success to those who wish to integrate with legacy, and existing databases.
  
  %p
    <strong>A quick look at the improved Rails 3 Routing API by <a href="http://www.github.com/nathanbertram">Nathan Bertram</a></strong> - This lightning talk will be quick walk through of how to write routes in Rails 3 compared to Rails 2 as well as covering some of the new goodies to be introduced to your routes.rb!
    
  %h2
    Past UG Events
  
  %ul#past_events
    %li
      - @events.each_with_index do |event, index|
        %a{:href => '#', :class => index.zero? ? 'on' : 'off', :id => event}= event.humanize
  
  %dl#past_events_info
    - @events.each_with_index do |event, index|
      %dd{:id => "#{event}_info", :class => index.zero? ? 'on' : 'off'}= haml :"events/_#{event}", :layout => false

