#left_content
  %h2
    Monthly Event.
  
  %p
    Winnipeg.rb started out in February of 2010 as a weekly Hack Night. As much as we still enjoy our Hack nights consensus amongst us has been that we have enough interest in our city to run a monthly event for Ruby and related technologies. We finally made it happen and hope that you can join us in contributing to its success! 
  %h2
    Hack Night.
  
  %p
    Sometimes it's just fun to hang out with other developers while knocking out & discussing code over caffeinated beverages & tasty cafe food. From time-to-time we enjoy challenging each other with a good game of <a href="http://codegolf.com/">code golf</a>. We tentatively meet every 2nd or 3rd Thursday of every month from 7-9pm @ the <a href="http://www.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=93+Albert+Street,+Winnipeg,+MB+R3B+1G5&ie=UTF8&hq=&hnear=93+Albert+St,+Winnipeg,+Division+No.+11,+Manitoba+R3B+1H2&ll=49.898671,-97.140255&spn=0.007491,0.022724&z=16">Fyxx on Albert Street</a> - <a href="http://twitter.com/winnipegrb">Watch Twitter</a> for when hack night comes together. 

#right_content
  %h2
    March Event.
    
  %p
    <strong>When?</strong> 5:45pm-8pm on Thursday, March 31st, 2011<br />
    <strong>Where?</strong> NRC Building, 445 Ellice Ave. - CCBT 111 (<a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=445+Ellice+Ave+Winnipeg&sll=41.046217,-95.712891&sspn=35.762281,93.076172&ie=UTF8&hq=&hnear=445+Ellice+Ave,+Winnipeg,+Division+No.+11,+Manitoba+R3B+3P5,+Canada&z=16">map</a>)

  %p
    There shall be free pizza, drinks & wifi - guest parking is available right at the NRC building. Please <a href="http://www.meetup.com/winnipegrb/events/16752834/">don't forget to <strong>RSVP</strong></a> so that we can order the right amount & feel free to join us afterwards at the Lo Pub for beers!

  %h3
    Phone based apps using <a href="http://www.tropo.com">Tropo</a> by <a href="http://www.twitter.com/hamcake">Robin Hillman</a>
  
  %p
    Are you interested in creating an app that responds to voice commands or SMS? This talk will provide an introduction to the <a href="http://www.tropo.com">Tropo service</a> and its features, how to script a basic app in Ruby using their API, and how to integrate their services with your existing app.

  %h3
    Lightning Talks:
  %p
    <strong>Vim scripts for fun and profit by <a href="https://github.com/gmarik">Marjan Hratson</a></strong> - A brief talk about <a href="http://www.vim.org/">Vim</a>, Vim script managers, <a href="https://github.com/vim-scripts/pathogen.vim">Pathogen</a>, <a href="http://vim-scripts.org">vim-scripts.org</a> & <a href="https://github.com/gmarik/vundle">Vundle</a>
    %br
    %br
    <strong>Amazon SES by <a href="https://github.com/nathanbertram">Nathan Bertram</a></strong> - A brief talk about what <a href="http://aws.amazon.com/ses/">Amazon Simple Email Service</a> is and using the <a href="https://github.com/drewblas/aws-ses">AWS-SES gem</a> with your existing Rails applications. 

  %p
    %strong RSVP at <a href="http://www.meetup.com/winnipegrb/events/16752834/">meetup.com/winnipegrb</a>
  
  %h2
    Past UG Events
  
  %ul#past_events
    %li
      - @events.each_with_index do |event, index|
        %a{:href => '#', :class => index.zero? ? 'on' : 'off', :id => event}= event.humanize
  
  %dl#past_events_info
    - @events.each_with_index do |event, index|
      %dd{:id => "#{event}_info", :class => index.zero? ? 'on' : 'off'}= haml :"events/_#{event}", :layout => false

