%h3
  Growing Rails Applications by <a href="https://github.com/srbaker">Steven Baker</a>

%p
  %strong Talk Summary:
  As we enter a decade of applications developed with Ruby on Rails, many teams are starting to feel growing pains relating to design decisions that were made in the past. Development slows down, and morale declines. Fresh competitors without the cruft of legacy code slowing them down easily deliver new features.

%p
  %strong Bio:
  Steven Baker has been focusing on developing maintainable, testable, high quality software for more than a decade. To that end, he's written tools such as RSpec and MiniMock, and has delivered talks and workshops on the subjects of testing and developing maintainable software.

    
%p
  <strong>When?</strong> 5:45pm-8pm on Monday, June 11th, 2012<br />
  <strong>Where?</strong> Room <strong>W315 - Red River College</strong> Princess Campus (160 Princess Street)
  (<a href="http://www.google.ca/maps?q=160+Princess+Street,+Winnipeg,+MB&hl=en&sll=49.891235,-97.15369&sspn=36.315092,93.076172&z=16">map</a>)

%p
  Food, drinks & wifi will be provided! Please <a href="http://www.meetup.com/winnipegrb/events/67639082/">don't forget to <strong>RSVP</strong></a> and join us afterwards at the Kings Head for beers!

%p
  %strong Please RSVP at <a href="http://www.meetup.com/winnipegrb/events/67639082/">meetup.com/winnipegrb</a>

%h2
  Past UG Events

%ul#past_events
  %li
    - @events.each_with_index do |event, index|
      %a{:href => '#', :class => index.zero? ? 'on' : 'off', :id => event}= event.humanize

%dl#past_events_info
  - @events.each_with_index do |event, index|
    %dd{:id => "#{event}_info", :class => index.zero? ? 'on' : 'off'}= haml :"events/_#{event}", :layout => false

