#left_content
  %h2
    Monthly Event.
  
  %p
    Winnipeg.rb started out in February of 2010 as a weekly Hack Night. As much as we still enjoy our Hack nights consensus amongst us has been that we have enough interest in our city to run a monthly event for Ruby and related technologies. We finally made it happen and hope that you can join us in contributing to its success! 
  %h2
    Hack Night.
  
  %p
    Sometimes it's just fun to hang out with other developers while knocking out & discussing code over caffeinated beverages & tasty cafe food. From time-to-time we enjoy challenging each other with a good game of <a href="http://codegolf.com/">code golf</a>. We tentatively meet every 2nd or 3rd Thursday of every month from 7-9pm @ the <a href="http://www.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=93+Albert+Street,+Winnipeg,+MB+R3B+1G5&ie=UTF8&hq=&hnear=93+Albert+St,+Winnipeg,+Division+No.+11,+Manitoba+R3B+1H2&ll=49.898671,-97.140255&spn=0.007491,0.022724&z=16">Fyxx on Albert Street</a> - <a href="http://twitter.com/winnipegrb">Watch Twitter</a> for when hack night comes together. 

#right_content
  %h2
    July / Early August Event.
    
  %p
    <strong>When?</strong> 5:45pm-8pm on Thursday, August 4th, 2011<br />
    <strong>Where?</strong> Room <strong>P318 - Red River College</strong> Princess Campus (160 Princess Street) 
    (<a href="http://www.google.ca/maps?q=160+Princess+Street,+Winnipeg,+MB&hl=en&sll=49.891235,-97.15369&sspn=36.315092,93.076172&z=16">map</a>)

  %p
    There shall be free pizza, drinks & wifi. Please <a href="http://www.meetup.com/winnipegrb/events/24499911/">don't forget to <strong>RSVP</strong></a> so that we can order the right amount & feel free to join us afterwards at the Kings Head for beers!
  
  %p
    %spong Speakers TBA!
    
  %p
    %strong Don't forget to RSVP at <a href="http://www.meetup.com/winnipegrb/events/24499911/">meetup.com/winnipegrb</a>
  
  %h2
    Past UG Events
  
  %ul#past_events
    %li
      - @events.each_with_index do |event, index|
        %a{:href => '#', :class => index.zero? ? 'on' : 'off', :id => event}= event.humanize
  
  %dl#past_events_info
    - @events.each_with_index do |event, index|
      %dd{:id => "#{event}_info", :class => index.zero? ? 'on' : 'off'}= haml :"events/_#{event}", :layout => false

