%html
  %head
    %title= "Winnipeg.rb Ruby User Group#{@page_title ? " | #{@page_title}" : ''}"
    %meta{:name => 'description', :content => 'We are a group of developers in Winnipeg, Manitoba with a common interest in all things Ruby, Rails and related technologies with skill levels ranging from beginner to expert. All you need to get involved is genuine interest.'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico', :type => 'image/ico'}
    :plain
      <link href="main.css" media="all" rel="stylesheet" type="text/css" />
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
      <script src="/app.js"></script>
      
    - if ENV['RACK_ENV'] == 'production'
      :plain
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-495329-21']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
  %body
    #big_wrapper
      #wrapper
        #header
          %h1
            Winnipeg.rb
            %span Ruby User Group
          %ul
            %li
              %a{:href => '/', :class => 'medium awesome button'} Home
            %li
              %a{:href => '/events', :class => 'medium awesome button'} Events
            %li
              %a{:href => '/resources', :class => 'medium awesome button'} Resources


        #content
          = yield
          .clear