%h2
  Well that is just no fun - Page not found :(
%p
  <br />We don't have very many pages on this site - so we are impressed at how you managed to navigate here.
  <br /><a href="/">Try our home page, perhaps?</a>