#left_content.amazon
  :plain
    <SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.ca/widgets/q?ServiceVersion=20070822&MarketPlace=CA&ID=V20070822/CA/winrbwinsuseg-20/8001/2b043098-683e-4aa2-aefa-ecc5fcdf3d27"> </SCRIPT> <NOSCRIPT><A HREF="http://ws.amazon.ca/widgets/q?ServiceVersion=20070822&MarketPlace=CA&ID=V20070822%2FCA%2Fwinrbwinsuseg-20%2F8001%2F2b043098-683e-4aa2-aefa-ecc5fcdf3d27&Operation=NoScript">Amazon.ca Widgets</A></NOSCRIPT>
#right_content
  %h2
    Resources.

  %ul
    %li
      %a{:href => 'http://www.ruby-lang.org/en/'} Ruby Programming Language Official Site
    %li
      %a{:href => 'http://apidock.com/ruby'} Ruby Documentation
    %li
      %a{:href => 'http://apidock.com/rails'} Rails Documentation
    %li
      %a{:href => 'http://mislav.uniqpath.com/poignant-guide/'} Why's (Poignant) Guide to Ruby
    %li
      %a{:href => 'http://www.ruby-toolbox.com/'} Ruby Toolbox
    %li
      %a{:href => 'http://www.rubykoans.com/'} Ruby Koans      
    %li
      %a{:href => 'http://www.rubyinside.com/'} Ruby Inside
    %li
      %a{:href => 'http://www.railsinside.com/'} Rails Inside
    %li
      %a{:href => 'http://www.teachmetocode.com/'} Teach Me to Code
    %li
      %a{:href => 'http://www.railscasts.com/'} Railscasts.com 
    %li
      %a{:href => 'http://macromates.com/'} Textmate Editor 
    %li
      %a{:href => 'http://www.jetbrains.com/ruby/'} Rubymine IDE
    
  
  %h2
    Presentations.
  
  %p
    Coming Soon!
      
    