body {
  border-top: 5px solid #3868cd;
  margin: 0; padding: 0;
  background: #ccc;
  font-size: 12px;
	text-align: center;
  font-family: Helvetica, Arial, sans-serif;
	color: #666;
}

div {
	border: none;
	text-align: left;
	vertical-align: top;
}

img, fieldset { border: none; }

.clear { clear: both; }
.right { float: right; }
.left { float: left; }

p { margin: 5px 0 10px 0; line-height: 1.5em; }

a {
  text-decoration: none;
  color: #3868cd;
}

fieldset { margin: 0; padding: 0; border: none;}

h2 {
  margin: 5px 0;
  font-size: 1.75em;
  color: #3868cd;
}

h3 {
  margin: 10px 0 0 0;
  font-size: 1.25em;
}

/* Layout */

div#big_wrapper {
  margin: 0; padding: 0 0 10px 0;
  width: 100%;
  background: #fff;
  border-bottom: 10px solid #ececec;
}

div#wrapper {
  margin: 0 auto; padding: 0;
  display: block;
  width: 800px;
}

* html div#wrapper { margin: 0 0 0 25px;}

/* Header */

div#header {
  height: 145px;
  margin: 0; padding: 0;
  border: 1px solid #fff;
  background: url('winnipegruby.jpg') 0 5px no-repeat;
}

div#header h1 {
  font-size: 4em;
  color: #3868cd;
  margin: 10px 0 0 150px;
}

div#header h1 span {
  display: block;
  clear: both;
  font-size: 0.6em;
}

div#header ul {
  margin: 18px 0 0 150px; padding: 0;
}

div#header ul li {
  margin: 0 7px 0 0; padding: 0;
  list-style: none;
  float: left;
}


/* Content */

div#left_content {
  float: left;
  width: 250px;
}

div#left_content a {
  padding: 3px;
  background: #f1f4fb;
  color: #333;
}

div#left_content.amazon a, div#left_content.amazon a:hover {
  background: none;
}

div#left_content.amazon div {
  margin-top: 15px;
}

div#left_content.amazon div div {
  margin-top: 0;
}
div#left_content a:hover {
  background: #dbe4f6;
}

div#right_content {
  margin: 0; padding: 0;
  padding: 5px;
  float: right;
  width: 500px;
}

div#right_content ul {
  margin: 0; padding: 0;
}

div#right_content ul li {
  margin: 5px 0; padding: 0;
  list-style: none;
}


div#right_content div#blue_box {
  margin: 0; padding: 0;
  border: 3px solid #3868cd;
  background: #e4eef6;
  padding: 5px;
  float: right;
  width: 445px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div#right_content div#blue_box span.thankyou {
  color: #3868cd;
  font-size: 1.5em;
  display: block;
  margin: 0 0 10px 0;
}

input.text {
  border: 2px solid #ccc;
  color: #3868cd;
  font-size: 1.1em;
  width: 250;
  padding: 5px;
}

ul#home_footer {
  margin: 0; padding: 0;
}

ul#home_footer li {
  margin: 10px 0 0 0; padding: 0;
  list-style: none;
  float: right;
}

ul#home_footer li a {
  margin: 0 10px 0 0; padding: 0;
  display: block;
  height: 50px; width: 50px;
  outline: none;
  text-indent: -9999px;
}


ul#home_footer li.oreilly a {
  width: 200px;
  height: 60px;
  background: url('ug_oreilly.gif') 0 0 no-repeat;
}



ul#home_footer li.twitter a {
  margin-top: 5px;
  background: url('twitter.jpg') 0 0 no-repeat;
}

ul#home_footer li.github a {
  margin-top: 5px;
  background: url('github.jpg') 0 0 no-repeat;
  width: 55px;
}

ul#home_footer li.heroku a {
  margin-top: 5px;
  background: url('heroku.jpg') 0 0 no-repeat;
  width: 95px;
}

ul#past_events {
  margin: 0; padding: 0;
}

ul#past_events li {
  margin: 0; padding: 0;
}

ul#past_events li a {
  background: #3868cd;
  color: #fff;
  font-weight: bold;
  float: left;
  margin: 0 5px 5px 0; padding: 7px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

ul#past_events li a:hover, ul#past_events li a.on {
  background: #666;
}

dl#past_events_info, dl#past_events_info dd {
  clear: both;
  margin: 0; padding: 0;
}

dl#past_events_info dd.off {
  display: none;
}

a.slides_link {
  padding: 0; margin: 0;
  display: block;
  width: 80px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background: #666;
  color: #fff;
  font-weight: bold;
  margin: 0 5px 5px 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

a.slides_link:hover {
  background: #888;
}


/*  
    awesome buttons are based on a blog post by ZERB
    Read there blog post for more information:
    "Super awesome Buttons with CSS3 and RGBA":http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba 
    
    this buttons are even more awesome, as the need only one color for all three states,
    and have an super awesome onclick state
*/

/* set an awesome color for the buttons */
button.awesome, 
input.awesome, 
a.button.awesome {
  background-color: #111;
}
/* Touch the rest at your onw risk. */
button.awesome,
input.awesome,
a.button.awesome { 

  font: inherit;
  background-repeat: repeat-x; 
  color: #fff;
  text-decoration: none; 
  position: relative; 
  cursor: pointer; 
  border: 0; 
  font-style: normal; 
  font-weight: bold; 
  line-height: 1; 
  
  padding: 5px 10px 6px;
  font-size: 13px;
  
  /* IE only stuff */
  border-bottom: 1px solid transparent\9;
  
  
  /* not all browser support these, but who cares? */
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25); 
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5); 
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  
  /* one image for all states 
     see http://www.alistapart.com/articles/sprites */
  background-image: url(awesome-overlay-sprite.png);
  background-position: 0 0;
  
  /* cross browser inline block hack 
     see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *display: inline !important;
  position: relative;
  
  /* help IE to calm down a bit */
  zoom: 1;
  
  /*disable text selection (Firefox only)*/
  -moz-user-select: none;
}
/* hide selection background color */
.awesome::selection {
	background: transparent;
}

button.awesome:hover,
input.awesome:hover,
a.button.awesome:hover {
  background-position: 0 -50px; 
  color: #fff;
}
button.awesome:active,
input.awesome:active,
a.button.awesome:active	{ 
  background-position: 0 100%; 
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7); 
  /* unfortunately, Safari seems not to support inset yet */
  -webkit-box-shadow: none;
  
  /* IE only stuff */
  border-bottom: 0\9;
  border-top: 1px solid #666\9;
}

button.awesome.small,         input.awesome.small,          a.button.awesome.small 	        { padding: 4px 7px 5px; font-size: 10px; }
button.awesome.small:active,  input.awesome.small:active,   a.button.awesome.small:active	  { padding: 5px 7px 4px; }
button.awesome.medium,        input.awesome.medium,         a.button.awesome.medium         { /* default */ }
button.awesome.medium:active, input.awesome.medium:active,  a.button.awesome.medium:active	{ padding: 6px 10px 5px; }
button.awesome.large,         input.awesome.large,          a.button.awesome.large 	        { padding: 8px 14px 9px; font-size: 14px; }
button.awesome.large:active,  input.awesome.large:active,   a.button.awesome.large:active	  { padding: 9px 14px 8px; }
