.container
  .span12.demo-row
    %h1 Winnipeg.rb Code of Conduct

    %h2 Table of Contents

    %ul
      %li
        %p
          %a{href: "#1-purpose"}
            1. Purpose
      %li
        %p
          %a{href: "#2-open-sourceculturetech-citizenship"}
            2. Open Source/Culture/Tech Citizenship
      %li
        %p
          %a{href: "#3-expected-behaviour"}
            3. Expected Behaviour
      %li
        %p
          %a{href: "#4-unacceptable-behaviour"}
            4. Unacceptable Behaviour
      %li
        %p
          %a{href: "#5-consequences-of-unacceptable-behaviour"}
            5. Consequences of Unacceptable Behaviour
      %li
        %p
          %a{href: "#6-if-you-witness-or-are-subject-to-unacceptable-behaviour"}
            6. If You Witness or Are Subject to Unacceptable Behaviour
      %li
        %p
          %a{href: "#7-addressing-grievances"}
            7. Addressing Grievances
      %li
        %p
          %a{href: "#8-scope"}
            8. Scope
      %li
        %p
          %a{href: "#9-contact-information"}
            9. Contact Information
      %li
        %p
          %a{href: "#10-license-and-attribution"}
            10. License and attribution

    %h2#1-purpose 1. Purpose

    %p A primary goal of Winnipeg.rb is to be inclusive to the largest number of contributors, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, gender identity, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof).
    %p This code of conduct outlines our expectations for all those who participate in our community, as well as the consequences for unacceptable behavior.
    %p We invite all those who participate in Winnipeg.rb to help us create safe and positive experiences for everyone.

    %h2#2-open-sourceculturetech-citizenship 2. Open Source/Culture/Tech Citizenship

    %p A supplemental goal of this Code of Conduct is to increase open [source/culture/tech] citizenship by encouraging participants to recognize and strengthen the relationships between our actions and their effects on our community.
    %p Communities mirror the societies in which they exist and positive action is essential to counteract the many forms of inequality and abuses of power that exist in society.
    %p If you see someone who is making an extra effort to ensure our community is welcoming, friendly, and encourages all participants to contribute to the fullest extent, we want to know.

    %h2#3-expected-behaviour 3. Expected Behaviour

    %ul
      %li
        %p Participate in an authentic and active way. In doing so, you contribute to the health and longevity of this community.
      %li
        %p Exercise consideration and respect in your speech and actions.
      %li
        %p Attempt collaboration before conflict.
      %li
        %p Refrain from demeaning, discriminatory, or harassing behavior and speech.
      %li
        %p Be mindful of your surroundings and of your fellow participants. Alert community leaders if you notice a dangerous situation, someone in distress, or violations of this Code of Conduct, even if they seem inconsequential.

    %h2#4-unacceptable-behaviour 4. Unacceptable Behaviour

    %p Unacceptable behaviors include: intimidating, harassing, abusive, discriminatory, derogatory or demeaning speech or actions by any participant in our community online, at all related events and in one-on-one communications carried out in the context of community business. Community event venues may be shared with members of the public; please be respectful to all patrons of these locations.
    %p Harassment includes: harmful or prejudicial verbal or written comments related to gender, sexual orientation, race, religion, disability; inappropriate use of nudity and/or sexual images in public spaces (including presentation slides); deliberate intimidation, stalking or following; harassing photography or recording; sustained disruption of talks or other events; inappropriate physical contact, and unwelcome sexual attention.

    %h2#5-consequences-of-unacceptable-behaviour 5. Consequences of Unacceptable Behaviour

    %p Unacceptable behavior from any community member, including sponsors and those with decision-making authority, will not be tolerated.
    %p Anyone asked to stop unacceptable behavior is expected to comply immediately. If a community member engages in unacceptable behavior, the community organizers may take any action they deem appropriate, up to and including a temporary ban or permanent expulsion from the community without warning (and without refund in the case of a paid event).

    %h2#6-if-you-witness-or-are-subject-to-unacceptable-behaviour 6. If You Witness or Are Subject to Unacceptable Behaviour

    %p If you are subject to or witness unacceptable behavior, or have any other concerns, please notify a community organizer as soon as possible.
    %p Additionally, community organizers are available to help community members engage with local law enforcement or to otherwise help those experiencing unacceptable behavior feel safe. In the context of in-person events, organizers will also provide escorts as desired by the person experiencing distress.

    %h2#7-addressing-grievances 7. Addressing Grievances

    %p If you feel you have been falsely or unfairly accused of violating this Code of Conduct, you should notify a Winnipeg.rb organizer with a concise description of your grievance. Your grievance will be handled in accordance with our existing governing policies.

    %h2#8-scope 8. Scope

    %p We expect all community participants (contributors, paid or otherwise; sponsors; and other guests) to abide by this Code of Conduct in all community venues—online and in-person—as well as in all one-on-one communications pertaining to community business.

    %h2#9-contact-information 9. Contact Information

    %p
      If you believe that someone is violating the code of conduct, or have any other concerns, please contact a Winnipeg.rb organizer or event staff immediately. They can be reached by emailing
      %a{href: "mailto:gannon@winnipegrb.org"} gannon@winnipegrb.org.
    %p
      In case of a conflict of interest, you can reach out to organizers at the same email address.

    %h2#10-license-and-attribution 10. License and Attribution

    %p
      Winnipeg.rb Code of Conduct is distributed under a Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license. It is based on the
      %a{href: "https://toronto-ruby.com/code-of-conduct", target: "_blank"} Toronto Ruby Code of Conduct.
