.container
  .demo-headline{:style => "padding-bottom: 80px"}
    %h1.demo-logo
      %a{:href => "http://winnipegrb.org"}
        .logo
        WinnipegRB
        %small Winnipeg Ruby User Group
  / /demo-headline
%section{:style => "background-color: #2980b9; width: 100%;"}
  .container
    .row.demo-row
      .span12
        %p{:style => "font-size: 18px; line-height: 1.5em; margin-top: 1.5em; color: white;"} Founded in January 2010, WinnipegRB is a group of developers in Winnipeg, Manitoba with a common interest in all things Ruby, Rails, and related technologies. Everyone is welcome, from professional ruby programmers to those just beginning to program. The only requirement is passion.
.container
  .row.demo-row
    .span12{:style => "position: relative;"}
      - if next_meeting.present?
        %a.btn.btn-primary.btn-large{href: next_meeting.event_url, style: "position: absolute; top: 20px; right: 20px"} Register
        %h1{:style => "padding-right: 4em;"}= next_meeting.name
        %p.description= next_meeting.description
        %p
          %strong
            %em= next_meeting.formatted_time
            %br
            %em= next_meeting.venue
      - else
        %h1 Nothing planned yet
        %p
          We are still planning the next meeting.
          Why don't you sign up
          %a{href: "http://www.meetup.com/winnipegrb/"} on meetup.com
          to hear about our next meeting?
      %p
        %a{href: "http://www.meetup.com/winnipegrb/events/past/"} Past Meetups
